p {
color: blue:
background color: blue;
weight: .06;
font-size: 12px;
font-family: Times New Roman;
text-align: left;
title {
color: blak:
background color: blue;
weight: .08;
font-size: 20px;
font-family: Times New Roman;
text-align: center;
  h1 {
color: green:
background color: blue;
weight: .06;
font-size: 18px;
font-family: Times New Roman;
text-align: left;
h2 {
color: green:
background color: blue;
weight: .06;
font-size: 17px;
font-family: Times New Roman;
text-align: left;
h3 {
color: green:
background color: blue;
weight: .06;
font-size: 15px;
font-family: Times New Roman;
text-align: left;
h4 {
color: green:
background color: blue;
weight: .06;
font-size: 14px;
font-family: Times New Roman;
text-align: left;
h5 {
color: green:
background color: blue;
weight: .06;
font-size: 13px;
font-family: Times New Roman;
text-align: left;
h6 {
color: green:
background color: blue;
weight: .06;
font-size: 12px;
font-family: Times New Roman;
text-align: left;
body {
color: green:
background color: blue;
weight: .06;
font-size: 12px;
font-family: Times New Roman;
text-align: left;
